body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url('../images/background.jpg');
}

header {
    background-color: rgb(252, 206, 216);
    height: auto;
}

.up {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1024px;
    margin: 0 auto;
}

header .logo {
    height: 130px;
}

header figure {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.right  {
    text-align: center;
}

.social {
    display: flex;
}


header .icon {
    width: 40px;
    height: 40px;
    margin: 0 2px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img {
    width: 60%;
    filter: invert(100%);
}

button {
    width: 172px;
    border-radius: 0;
    border: none;
    height: 50px;
    font-size: 20px;
    font-weight: bolder;
    background-color: black;
    color: rgb(252, 206, 216);
    margin-top: 20px;
}

button:hover {
    background-color: white;
    color: black;
}

header ul {
    display: flex;
    background-color: black;
    margin: 0;
    justify-content: center;
}

header li {
    color: rgb(252, 206, 216);
    list-style: none;
    font-size: larger;
    padding: 15px 30px;
    font-weight: bold;
}

header li:hover {
    background-color: white;
    color: black;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    margin: 0;
    box-shadow: 0px 0px 20px 0px black;
    position: relative;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite
    alternate;
    margin: 0;
}

.slider li {
    width: 100%;
    list-style: none;
    overflow: hidden;
    height: 400px;
    display: flex;
    align-items: center;
}

.slider img {
    width: 100%;
    height: auto;
    overflow: hidden;
    opacity: 0.5;
}

@keyframes cambio{
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

.slider .text-box {
    position: absolute;
    z-index: 1;
    overflow: hidden;
    color: white;
    align-self: flex-start;
    justify-self: self-start;
    margin: 50px 50px;
}

.slider .text-box h2 {
    margin: 0;
    font-size: 60px;
}

.slider .text-box p {
    margin: 0;
    font-size: 30px;
    margin: 30px 0;
}

.panel {
    margin-top: 50px;
    text-align: center;
    background-color: rgba(253, 227, 232, 0.76);
    padding: 30px 20px;
}

.panel h2 {
    margin: 0;
    margin-bottom: 30px;
}

.panel-box {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(1, 200px);
    justify-content: space-evenly;
}

.post {
    border: 1px solid red;
}

.post figure {
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.post img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1023px) {

}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 480px) {
    
}

@media screen and (max-width: 320px) {

}

